{% extends 'testpage.html' %} 

{% block passage %}{% endblock %}

{% block options %}
<form id="myForm">
    <input type="radio" name="option" value="a">A) Quantity A is greater.<br>
    <input type="radio" name="option" value="b">B) Quantity B is greater.<br>
    <input type="radio" name="option" value="c">C) The two quantities are equal.<br>
    <input type="radio" name="option" value="d">D) The relationship cannot be determined from the information given.<br>
</form>  

<script>
    function saveAndNext(test_id, attempt_id, question_no) {
        // Get the selected option value
        var selected_ans = $("input[name=option]:checked").val();

        // Make the AJAX request to update the attempt
        $.ajax({
            type: "POST",
            url: "/api/update_attempt",
            data: JSON.stringify({
                test_id: test_id,
                attempt_id: attempt_id,
                question_no: question_no,
                selected_ans: selected_ans
            }),
            contentType: "application/json",
            dataType: "json",
            success: function(response) {
                // Handle the successful response
                console.log("Attempt updated successfully!");
                // Redirect to the next question
                redirectToTest(test_id, attempt_id, question_no + 1);
            },
            error: function(error) {
                // Handle any errors that occur during the request
                console.log("Error occurred during attempt update!");
                console.log(error);
            }
        });
    }

    function SaveAndSubmitAttempt(test_id, attempt_id, question_no) {
        // Get the selected option value
        var selected_ans = $("input[name=option]:checked").val();

        // Make the AJAX request to update the attempt
        $.ajax({
            type: "POST",
            url: "/api/update_attempt",
            data: JSON.stringify({
                test_id: test_id,
                attempt_id: attempt_id,
                question_no: question_no,
                selected_ans: selected_ans
            }),
            contentType: "application/json",
            dataType: "json",
            success: function(response) {

                // On successfully updating current question selected ans, end attempt
                $.ajax({
                    type: "POST",
                    url: "/api/submit_attempt",
                    data: JSON.stringify({
                        attempt_id: attempt_id
                    }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        // Handle the successful response
                        console.log("Attempt ended successfully!");

                        // Redirect to the Performace Report page of attempt id
                        window.location.href = "/performancereport/"+attempt_id;
                    },
                    error: function(error) {
                        // Handle any errors that occur during the request
                        console.log("Error occurred during attempt ending!");
                        console.log(error);
                    }
                });

            },
            error: function(error) {
                // Handle any errors that occur during the request
                console.log("Error occurred during attempt update!");
                console.log(error);
            }
        });
    }
</script>
{% endblock %}