<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    instruction page <br/>
    <button onclick="redirectToTest('{{test_id}}', '{{attempt_id}}')">Accept & Continue</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>    
        function redirectToTest(test_id, attempt_id, question_no) {
            var question_type_html, ques_img_src, passage_chart_img_src;

            $.when(
                $.ajax({
                    type: "GET",
                    url: "/api/get_question_type_page/" + test_id + "/" + 0,
                    contentType: "application/json"
                }).done(function(response) {
                    question_type_html = response.type_to_templates;
                }).fail(function() {
                    // Failure callback for the second AJAX request
                    console.log("Error occurred during the second AJAX request");
                }),
                $.ajax({
                    type: "GET",
                    url: "/api/get_ques_img_src/test/" + test_id + "/question/" + 0,
                    contentType: "application/json"
                }).done(function(response) {
                    ques_img_src = response.ques_img_src;
                    passage_chart_img_src = response.passage_chart_img_src;
                }).fail(function() {
                    // Failure callback for the second AJAX request
                    console.log("Error occurred during the second AJAX request");
                })
            ).then(function() {
                question_type_html = encodeURIComponent(question_type_html)
                window.location.href = "/test/" + test_id + "/attempt/" + attempt_id + "/question/0" + "?ques_img_src=" + ques_img_src + "&passage_chart_img_src=" + passage_chart_img_src + "&question_type_html=" + question_type_html; // REACT: question_type_html will not be needed instead we will do dynamic component rendering based on question_type only, so new api needs to be created which returns question_type based on question_no
            }).fail(function() {
                console.log("Error occurred during AJAX requests");
            });
        }
    </script>
</body>
</html>